<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Skewed Left</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="hero">
        <nav>
            <a href="../components/block-skewed-left.html"><img src="../images/logo1.png" alt="Đây là logo VTC Academy"></a>
            <ul>
                <li><a href="#">Hosting</a></li>
                <li><a href="#">VPS</a></li>
                <li><a href="#">Domain</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </nav>
        <div class="hero--underNav">
            <div class="block--primary">
                <h1 class="text--heading">Cloud Hosting for Pros</h1>
                <p class="text--tagline">Deploy your websites in less than 60 seconds.</p>
                <a class="btn" href="#">GET STARTED</a>
            </div>
            <img class="hero--image" src="../images/banner.png" alt="Header Image">
        </div>
    </header>
    <main>
        <section class="page--primary">
            <div class="content">
                <h2>Starting at $9 per month</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, exercitationem?</p>
                <div class="search">
                    <p>Enter domain name here...</p>
                    <a type="text" class="btn" href="#"><img src="../icons/search.svg" class="search-icon"> SEARCH</a>
                </div>
                <div class=".com">
                        <span class="badge badge--secondary badge--small">.com $9</span>
                        <span class="badge badge--small">.sg $10</span>
                        <span class="badge badge--small">.space $11</span>
                        <span class="badge badge--small">.info $14</span>
                        <span class="badge badge--small">.net $10</span>
                        <span class="badge badge--small">.xyz $10</span>
                </div>
            </div>
            <div class="pay">
                <div class="box-large">
                    <div class="box-header">
                        <p>Entry</p>
                        <span>
                            <span>$14</span>
                            <span>/month</span>
                            <span class="badge badge--secondary badge--small">10% OFF</span>
                        </span>
                        <p>Easy start on the cloud</p>
                    </div>
                    <div class="box-content-main">
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Websites</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>100 GB SSD Storage</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>3 GB RAM</p>
                        </div>
                        <button><a href="#buy">BUY NOW</a></button>
                    </div>
                </div>
                <div class="box-large active">
                    <div class="box-header active">
                        <p>Entry</p>
                        <span>
                            <span>$14</span>
                            <span>/month</span>
                            <span class="badge badge--primary">10% OFF</span>
                        </span>
                        <p>Easy start on the cloud</p>
                    </div>
                    <div class="box-content-main">
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Websites</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>100 GB SSD Storage</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>3 GB RAM</p>
                        </div>
                        <button><a href="#buy">BUY NOW</a></button>
                    </div>
                </div>
                <div class="box-large">
                    <div class="box-header">
                        <p>Entry</p>
                        <span>
                            <span>$14</span>
                            <span>/month</span>
                            <span class="badge badge--secondary badge--small">10% OFF</span>
                        </span>
                        <p>Easy start on the cloud</p>
                    </div>
                    <div class="box-content-main">
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Websites</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>100 GB SSD Storage</p>
                        </div>
                        <div class="box-content">
                            <p>✔</p>
                            <p>3 GB RAM</p>
                        </div>
                        <button><a href="#buy">BUY NOW</a></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="page--secondary">
            <div class="content">
                <h2>Host on the Cloud to Keep Growing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.</p>
                <div class="content-large">
                    <div class="content-small">
                        <img src="../icons/easy.svg" alt="easy logo">
                        <h3>Super Easy to Use</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!</p>
                        <a class="link-arrow" href="#">Learn more</a>
                    </div>
                    <img src="../images/easy.jpg" alt="easy image">
                </div>
                <div class="content-large">
                    <img src="../images/fast.jpg" alt="easy image">
                    <div class="content-small">
                        <img src="../icons/computer.svg" alt="easy logo">
                        <h3>Super Easy to Use</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!</p>
                        <a class="link-arrow" href="#">Learn more</a>
                    </div>
                </div>
                <div class="content-large">
                    <div class="content-small">
                        <img src="../icons/wordpress.svg" alt="easy logo">
                        <h3>Super Easy to Use</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!</p>
                        <a class="link-arrow" href="#">Learn more</a>
                    </div>
                    <img src="../images/wordpress.jpg" alt="easy image">
                </div>
                <div class="content-large">
                    <img src="../images/support.jpg" alt="easy image">
                    <div class="content-small">
                        <img src="../icons/clock.svg" alt="easy logo">
                        <h3>Super Easy to Use</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!</p>
                        <a class="link-arrow" href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-third">
            <div class="content">
                <h2>User-friendly Control Panel</h2>
                <div class="content-large">
                    <img src="../images/ipad-1140px.webp" alt="easy image">
                    <div class="content-small-col">
                        <div class="content-small">
                            <img src="../icons/snap.svg" alt="easy logo">
                            <div class="content-smaller">
                                <h3>Easy Start & Managed Updates</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab excepturi vel persp</p>
                            </div>
                        </div>
                        <div class="content-small">
                            <img src="../icons/growth.svg" alt="easy logo">
                            <div class="content-smaller">
                                <h3>Staging, GIT & WP-CLI</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab excepturi vel persp</p>
                            </div>
                        </div>
                        <div class="content-small">
                            <img src="../icons/wordpress.svg" alt="easy logo">
                            <div class="content-smaller">
                                <h3>Dynamic Caching & More</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab.Veniam quisquam, ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur ab excepturi vel persp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-last">
                <h3>What our Customers are Saying</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quos.</p>
                <div class="note-saying">
                    <img class="img-human" src="../images/testimonial.jpg" alt="">
                    <img class="img-icons" src="../icons/quotes.svg" alt="">
                    <div class="note">
                        <p>" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus id repellat, veritatis minima officia aspernatur possimus asperiores quia quidem facilis provident dolores soluta. Minus id repellat, veritatis minima officia aspernatur possimus asperiores. "</p>
                        <div class="signature">
                            <img src="../icons/line.svg" alt="">
                            <div class="signature-key">
                                <h4>John Smith</h4>
                                <p>ABC Company</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-primary">
            <div class="content-footer">
                <h3>Ready to Get Started?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam possimus itaque sequi, expedita velit quibusdam fugiat est provident placeat, asperiores vitae totam molestias vero ea voluptatem, enim rerum quod sapiente.  asperiores vitae.</p>
            </div>
            <a class="btn" href="#">GET STARTED</a>
        </section>
        <section class="footer-secondary">
            <div class="footer-brand">
                <img src="../images/logo.png" alt="###">
                <p>&copy; 2025 Cloud Hosting Company</p>
            </div>
            <div class="footer-content">
                <div class="footer-text">
                    <h2><strong>PRODUCTS</strong></h2>
                    <ul>
                        <li><a href="#">Website Hosting</a></li>
                        <li><a href="#">Free Automated</a></li>
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Migrations</a></li>
                    </ul>
                </div>
    
                <div class="footer-text">
                    <h2><strong>COMPANY</strong></h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
    
                <div class="footer-text">
                    <h2><strong>SUPPORT</strong></h2>
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Knowledge Base</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
    
                <div class="footer-text">
                    <h2><strong>DOMAINS</strong></h2>
                    <ul>
                        <li><a href="#">Domain Checker</a></li>
                        <li><a href="#">Domain Transfer</a></li>
                        <li><a href="#">Free Domain</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>