.footer {
    background: #303030;
    color:white;
    padding: 15px;
}

.footer-background {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
    padding: 10px;
    text-align: right;
}

.footer-logo img {
    width: 300px;
}

.footer-logo p {
    margin: 0;
    font-size: 16px;
}

.footer-content {
    display: flex;
    padding: 10px;
    gap: 50px;
}

.footer-text h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

.footer-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-text ul li {
    margin-bottom: 5px;
}

.footer-text ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-text ul li a:hover {
    color: red;
}