* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0 30px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 0;
    background-color: whitesmoke;
}

.box-large {
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 15px 0;
    background: white;
    width: 300px;
    overflow: hidden;
}

.box-large.active {
    transform: translateY(-30px);
    box-shadow: 0 0 15px 0;
}

.box-large.active::after {
  content: "POPULAR";
  position: absolute;
  top: 25px;
  right: -35px;
  background: #4b3cff;
  color: white;
  padding: 5px 40px;
  transform: rotate(90deg);
  font-size: 12px;
}

.box-header {
    background-color: rgb(0, 212, 250);
    color: aliceblue;
    padding: 20px;
    margin: 0;
    border-radius: 12px;
}

.box-header p {
    margin: 0;
    padding: 0;
}

.box-header div {
    display: flex;
    padding: 0 0 0 20px;
}

.box-header div p {
    padding: 0px;
    font-size: 50px;
}

.box-header div p + p {
    padding: 0;
    font-size: 16px;
    margin: 30px 0 0 0;
}

.box-header div p + p + p {
    background-color: rgb(5, 181, 235);
    border-radius: 16px;
    padding: 5px 30px;
    margin: 5px;
}

.box-content-main {
    padding: 30px;
}

.box-content-main .box-content {
    display: flex;
    
}

.box-content-main .box-content p {
    display: flex;
    color: greenyellow;
    padding: 0 5px;
}

.box-content-main .box-content p + p {
    display: flex;
    color: black;
}

button {
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 50px;
    display: flex;
    background-color: aliceblue;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}