table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    padding: 2px 10px;
}

tr.odd {
    background-color: #efdfef;
}
tr.even {
    background-color: #ffffff;
}