html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

.job-title {
    color: darkslategray;
    font-weight: bold;
}

h1 {
    color: darkslategray;
    font-size: 2rem;
    border-bottom: 10px dotted purple;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

ul {
    background-color: white;
    border:  5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

ul li a {
    color: green;
    text-decoration: none;
}

/* Tiếp xúc bằng chuột */
ul li a:hover {
    color: darkgreen;
}

/* Tiếp xúc bằng bàn phím */
ul li a:focus {
    color: darkgreen;
}